section {

  >div.wrapper {
    align-items: flex-start;
    background-color: $grey-70;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: .125% 0;
    width: 100%;
    height: 95vh;

    .tile {
      background-color: $green-md;
      color: rgba(255, 255, 255, .95);
      flex-basis: 19.5%;
      flex-grow: 1;
      flex-shrink: 1;
      margin: 0 .25%;
      margin-bottom: 0;
      text-align: center;

      &.sprint {
        background-color: $blue-md;
        &.low,
        &.happy,
        &.good {
          background-color: $blue-md;
        }
        &.lowest {
          background-color: $blue-lt;
        }
      }

      /* binary */
      &.good {
        background-color: $green-md;
      }
      &.bad {
        background-color: $red-dk;
      }

      /* Stoplight */
      &.low {
        background-color: $green-md;
      }
      &.medium {
        background-color: $yellow-md;
      }
      &.high {
        background-color: $red-dk;
      }

      /* Moods */
      &.happy {
        background-color: $green-dk;
      }
      &.meh {
        background-color: $blue-md;
      }
      &.hmpf {
        background-color: $gold-md;
      }
      &.sad {
        background-color: $red-dk;
      }

      /* Terror */
      &.highest {
        background-color: $red-dk;
        color: $gold-lt;
      }
      &.lowest {
        background-color: $green-md;
      }

      div {
        font-size: 8em;
        font-weight: bold;
        height: 19vh;
        line-height: 19vh;
      }

      h2 {
        background-color: rgba(0, 0, 0, .25);
        color: rgba(255, 255, 255, .75);
        font-weight: 400;
        height: 3vh;
        line-height: 3vh;
        margin: 0;
        padding: .5vh;
      }

    }

  }
}
