/* Table Styles */
table {
  border-collapse: collapse;
  border: 0;
  margin: 0 0 7vh 0;
  padding: 0;
  width: 100%;

  &.collapsed {
    th, td {
      &.small {
        width: 100px;
      }
    }
  }

  th, td {
    color: $grey-10;
    margin: 0;
    padding: .5em;
    position: relative;
    text-align: center;

    &.left {
      text-align: left;
    }

    &.nowrap {
      white-space: nowrap;
    }

    &.wide {
      width: 20%;
    }

    &.collapsed {
      display: none;
    }

    &.small {
      width: 100px;
    }

    &.tiny {
      width: 50px;
    }

    /* Phases */
    &.phase {
      border-bottom: 1px solid $grey-10;
      border-right: 2px dotted $grey-10;
      color: $grey-10;

      &.current {
        border-bottom: 0;
        border-bottom: 1px solid $blue-md;
      }

    }

    &.current {
      background-color: $grey-60;
      border-left: 5px solid $grey-70;
      border-right: 5px solid $grey-70;
    }

    &.scheduled {
      background-color: $blue-md;
      color: $white;
      position: relative;
      &::after {
        content: " ";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .10);
      }
    }

    button {
      background-color: $grey-20;
      border: 0;
      color: $black;
      cursor: pointer;
      font-size: 1.8em;
      padding: 0 .5em;
      position: absolute;
      top: 0;
      right: -1px;

      &:hover {
        background-color: $grey-40;
        color: $grey-10;
      }

      &::after {
        content: "\276e";
      }

      &.toggle {
        &.collapsed {
          &::after {
            content: "\276f";
          }
        }
      }
    }

  }

  tbody {

    tr {

      &.blocker {
        td {
          color: $red-md;
          &.risk {
            color: $red-dk;
          }
        }
      }

      &:hover {
        background-color: rgba(0, 0, 0, .2);
        cursor: pointer;

        td {
          background-color: $grey-60;
          color: $white;

          a {
            color: $red-dk;
          }

          &.current {
            background-color: $grey-40;
          }

          &.scheduled {
            background-color: $blue-dk;
          }

          &.grey-10 {
            background-color: $grey-10;
          }
          &.grey-20 {
            background-color: $grey-15;
          }
          &.risk {
          }
          &.merged {
            background-color: $blue-dk;
          }
          &.ready-for-development {
            background-color: $blue-dk;
            color: $grey-70;
          }
          &.in-progress {
            background-color: $orange-dk;
            color: $grey-70;
          }
          &.to-do,
          &.open {
            background-color: $red-dk;
            color: $white;
          }
          &.done {
            background-color: $green-dk;
            color: $white;
          }
          &.in-review,
          &.validation  {
            background-color: $gold-dk;
            color: $grey-70;
          }
          &.ready-for-test {
            background-color: $blue-dk;
          }
          &.backlog {
            background-color: $grey-40;
            color: $grey-90;
          }
        }

      }

      td {
        border-right: 1px solid $grey-60;

        /* Status */
        &.status {
          white-space: nowrap;
        }
        &.merged {
          background-color: $merged;
          color: $grey-70;
        }
        &.ready-for-development {
          color: $blue-lt;
        }
        &.in-progress {
          color: $inprogress;
        }
        &.to-do,
        &.open {
          color: $todo;
        }
        &.done {
          color: $done;
        }
        &.in-review,
        &.validation {
          color: $inreview;
        }
        &.ready-for-test {
          background-color: $readyfortest;
          color: $grey-70;
        }
        &.backlog {
          color: $grey-30;
        }

        /* Priorities */
        &.priority {
          font-size: 1.25em;
          font-weight: bold;
          padding: 0 0 2px 0;
        }

        &.blocker {
          color: $blocker;
          &::before {
            content: "\20E0";
          }
        }

        &.highest {
          color: $highest;
          &::before {
            content: "\21C8";
          }
        }

        &.high {
          color: $high;
          &::before {
            content: "\2191";
          }
        }

        &.medium {
          color: $medium;
          &::before {
            content: "-";
          }
        }

        &.low {
          color: $low;
          &::before {
            content: "\2193";
          }
        }

        &.lowest {
          color: $lowest;
          &::before {
            content: "\21CA";
          }
        }

        /* Miscellaneous */
        &.grey-10 {
          background-color: $grey-05;
          white-space: nowrap;
        }

        &.grey-20 {
          background-color: $grey-07;
          white-space: nowrap;
        }

        &.dimmed {
          color: $grey-30;
          font-style: italic;
        }

        &.risk {
          //background-color: $yellow-md;
          white-space: nowrap;
        }

        &.active,
        &.pushed {
          color: $grey-70;
        }

        &.pushed::after {
          background-color: rgba(0, 0, 0, .05);
          content: " ";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }

        &.active::after {
          background-color: rgba(0, 0, 0, .15);
          content: " ";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }

        a {
          color: $gold-md;
        }

      }

    }

  }

  /* Header Styles */
  thead {

    th {
      background-color: $grey-70;
      color: $grey-05;
      border-bottom: 3px solid $grey-50;
      font-weight: normal;
      vertical-align: bottom;

      /* Cell-level Styles */
      &.sprint {
        border-bottom: 1px solid $grey-10;
        font-size: .9em;

        &.current {
          background-color: $blue-dk;
          border-bottom-color: $blue-md;
          border-top-color: $blue-dk;
          color: $grey-70;
          font-weight: bold;



        }
      }
      &.dates {
        background-color: $grey-07;
        color: $grey-70;
        font-size: .9em;
        &.current {
          background-color: $blue-md;
        }
      }


    }
  }

  /* Footer Styles */
  tfoot {

    tr {

      td {
        border-color: $grey-70;
        border-top: 2px solid $grey-70;
        color: $grey-70;
        font-size: 1.2em;
        font-weight: bold;
        padding: 1em .5em;

        /* Sub-Totals */
        &.subtotal {
          background-color: $grey-05;
        }

        &.subtotal.phase1 {
          background-color: $blue-md;
        }

        &.subtotal.phase2 {
          background-color: $green-md;
        }

        &.subtotal.phase3 {
          background-color: $gold-md;
        }

        &.subtotal.phase4 {
          background-color: $orange-md;
        }

        &.subtotal.phase5 {
          background-color: $red-md;
        }

        /* Totals */
        &.total {
          background-color: $grey-07;

          &.phase1 {
            background-color: $blue-dk;
          }

          &.phase2 {
            background-color: $green-dk;
          }

          &.phase3 {
            background-color: $gold-dk;
          }

          &.phase4 {
            background-color: $orange-dk;
          }

          &.phase5 {
            background-color: $red-dk;
          }

        }

        &.label {
          border: 0;
          color: $white;
          font-weight: bold;
          text-align: right;
        }

        &.plain {
          border: 0;
        }

        &.empty {
          background-color: $grey-70;
          border-left-color: $grey-70;
          border-right-color: $grey-70;
        }

        &.warning {
          background-color: $red-lt;
        }

        &.white {
          background-color: rgba(255, 255, 255, .9);
        }

        &.bad {
          background-color: $red-dk;
          color: $white;
        }

        &.good {
          background-color: $green-md;
          color: $white;
        }

      }

    }


  }

}
