section {

  table {
    tbody {
      tr {

        &.spacer {
          background-color: $grey-70;
          border-bottom: 1px solid $grey-70;
          &:hover {
            background-color: $grey-70;
            cursor: default;
          }
        }

        &.subtotal {
          &:hover {
            td {
              &.label {
                color: $white;
              }
            }
          }
          td {
            background-color: rgba(255, 255, 255, .2);
            font-size: 1.1em;
            height: 2.2em;
            &.label {
              background-color: $grey-70;
              text-align: right;
            }
          }
        }

        td {
          &.title {
            background-color: $grey-70;
            border-bottom: 2px solid $grey-50;
            font-size: 1.5em;
            text-align: left;
          }
          &.full {
            color: $green-dk;
          }
          &.pto {
            color: $gold-dk;
          }
          &.total {
            background-color: rgba(255, 255, 255, .4);
          }
          &.subtotal {
            background-color: rgba(255, 255, 255, .2);
          }
        }

      }
    }
  }

}
